/* #63B5FF */
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: auto;
  background: #ffffff;
  height: auto;
}

/* added scrollbar design */

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color: #f0f0f042;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: #63b5ff;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
}

/* added padding for h3 */

h3 {
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 4.8rem 0 4.8rem 0;
}

p {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}
.header{
  background:rgb(0, 48, 82);
}
/******************** Navbar ****************************/

.nav-area {
  padding: 1rem;
}
/* Left-Nav */
.nav-area .left-nav a {
  float: left;
  color: #63b5ff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 0rem 5rem;
  font-size: 2.5rem;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 800;
}
.nav-area .left-nav a {
  margin-left: 2.5rem;
}
/* Right-Nav */
.nav-area .right-nav a {
  padding: 1.4rem 1rem;
  margin-right: -0.8rem;
}
.nav-area .right-nav a:hover {
  background-color: #63b5ff;
}
.nav-area .right-nav {
  margin-right: 6rem;
}
.nav-area .right-nav a {
  float: right;
  color: #f6fffe;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1.4rem 1.4rem;
  font-size: 1.4rem;
  margin-right: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  font: 1.5rem;
  font-weight: 400;
}
.nav-area .right-nav a:hover {
  color: #032e47;
  background-color: #63b5ff;
  border-radius: 2.5rem; 
  font-weight: 800;
  color: #000;
  background-color: rgba(99, 181, 255, 1);
  transition: 0.5s;
  border-radius: 10px;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bar-btn {
  margin-left: 5rem;
}
@media only screen and (max-width: 920px) {
  .right-nav {
      position: fixed;
      left: -100%;
      top: 4.5rem;
      flex-direction: column;
      background-color: rgb(2, 44, 63);
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.5s;
  }
  .right-nav.active {
      left: 0;
  }
  .bar-btn {
      padding: 0%;
  }
  .bar-btn :hover{
    color: #032e47;
    background-color: #cfe5ff;
    border-radius: 2.5rem; 
    font-weight: 800;
    transition: 0.5s;
  }
  .hamburger {
      display: block;
      cursor: pointer;
  }
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/****************** Navbar Ends ************************/

#landing {
  display: flex;
  background-image: url("img/landing-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: 3rem;
}
#landing-text {
  margin-top: 6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#landing-text h2 {
  text-transform: lowercase;
}

#landing #landing-text #btn {
  margin-top: 2rem;
}

#btn a {
  text-decoration: none;
  background-color: white;
  color: #63b5ff;
  font-size: 1.6rem;
  padding: 0.6rem 1.7rem;
  border: solid 0.1rem #63b5ff;
}

#btn a:hover {
  background-color: #63b5ff;
  color: #ffffff;
}

#landing-img {
  background-position: center;
  background-size: 100vh;
  background-repeat: no-repeat;
  margin-top: 4rem;
}

.heading {
  text-align: center;
}

.heading h2 {
  border-bottom: solid 0.2rem #63b5ff;
  display: inline-block;
}

.inner-heading {
  padding: 0.4rem;
  text-align: center;
  font-weight: 400;
  color: #373737;
}

/* added padding for icon heading*/

.icons-heading {
  padding: 0 0 2rem 0;
}

.container {
  padding: 1rem 9%;
  margin-top: 2rem;
}

/* section */
.section {
  margin: 1rem 9%;
}

.section a {
  text-decoration: none;
  color: black;
}

/* designing card */
.section .card-style {
  background-color: white;
  color: #000;
  transition: transform 0.2s;
  box-shadow: 3.4px 3.4px 2.2px -7px rgba(0, 0, 0, 0.022),
    8.7px 8.7px 5.5px -7px rgba(0, 0, 0, 0.031),
    17.7px 17.7px 11.2px -7px rgba(0, 0, 0, 0.039),
    36.5px 36.5px 23px -7px rgba(0, 0, 0, 0.048),
    100px 100px 63px -7px rgba(0, 0, 0, 0.07);
  border: none;
  border-radius: 0;
  height: 360px;
}

/* image inside card */
.card-style img {
  border-radius: 0;
}

/* card description */
.section .card .card-text {
  color: black;
}

.section .card-style:hover {
  opacity: 0.8;

  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.form-content {
  padding: 1.5rem;
  margin: 1rem 9%;
  background: #c8dff3;
}

/* added margin for contact heading*/

.contact-heading {
  margin-top: 4.8rem;
}

input,
textarea,
input::-webkit-input-placeholder {
  font-size: 1rem;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 1rem;
  margin-top: 0.6rem;
  border: 1px solid rgb(240, 240, 240);
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-us .form-content p {
  text-align: left;
}

input[type="submit"] {
  text-decoration: none;
  padding: 0.8rem 2.5rem;
  margin: 1rem 42%;
  display: inline-block;
  color: #ffffff;
  border: solid 0.13rem #63b5ff;
  background-color: #63b5ff;
  box-shadow: 3.4px 3.4px 2.7px rgba(0, 0, 0, 0.025),
    8.7px 8.7px 6.9px rgba(0, 0, 0, 0.035),
    17.7px 17.7px 14.2px rgba(0, 0, 0, 0.045),
    36.5px 36.5px 29.2px rgba(0, 0, 0, 0.055),
    100px 100px 80px rgba(0, 0, 0, 0.08);
}

input[type="submit"]:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
  border: solid 0.11rem #63b5ff;
  color: #000000;
}

@media (max-width: 1000px) {
  #btn a {
    font-size: 1.5rem;
    padding: 0.45rem 1.2rem;
  }
}

@media (max-width: 767px) {
  #btn a {
    font-size: 1.4rem;
    padding: 0.35rem 1rem;
  }
  .section .card-style {
    height: auto;
  }
}

@media (max-width: 650px) {
  .nav-area {
    display: flex;
    flex-direction: column;
  }
  .nav-area > .right-nav {
    padding: 0px;
    margin: 0px;
  }
}
@media (max-width: 600px) {
  #landing {
    display: flex;
    flex-direction: column;
  }

  #btn a {
    font-size: 1.3rem;
    padding: 0.3rem 0.85rem;
  }

  .container .section {
    margin: 0.6rem 9%;
  }

  input[type="submit"]:hover {
    background-color: rgb(255, 255, 255);
    color: #63b5ff;
    transition: 0.4s;
    border: solid 0.11rem #63b5ff;
  }

  body {
    font-size: 100%;
  }

  #landing {
    display: flex;
    flex-direction: column;
  .nav-area .left-nav a {
    margin-left: 1.5rem;
  }

  .nav-area .right-nav a {
    padding: 1.4rem 1rem;
    margin-right: -0.8rem;
  }

  .nav-area .right-nav a:hover {
    background-color: #ffffff;
  }

  #landing-text h1 {
    font-size: 1.8rem;
  }

  #landing-text h2 {
    font-size: 1.4rem;
  }

  input[type="submit"] {
    margin: 1rem 20%;
  }
}

@media (min-width: 992px) {
  .hero-img {
    margin-top: 10em;
  }
}

.landing-div {
  height: 100vh;
}

label {
  float: left;
}

/********************* Footer **************************/
.footer-dark {
  font-family: 'Poppins', sans-serif;
  padding:25px 0;
  color:#f0f9ff;
  background-color:#04233b;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(111, 111, 111, 0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.fa {
  padding: 15px;
  font-size: 60px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 0px 2px;
  border-radius: 5px;
}

.fa:hover {
  opacity: 0.7;
}
.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}
.togglebtn {
  position: absolute;
  bottom: 2.2rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}
.checkbox {
  opacity: 0;
  position: relative;
}

.label {
  width: 50px;
  height: 26px;
  background-color: rgb(15, 14, 14);
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  left: 10px;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}
@keyframes example {
  100% {
    transform: rotate(360deg);
  }
}
.nav-area .left-nav a:hover {
  overflow: auto;
  float: left;
  color: #63b5ff;
  animation-name: example;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  text-decoration: none;
  display: block;

  text-align: center;
  padding: 0rem 1rem;
  font-size: 2.5rem;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 500;
  box-shadow: rgba(9, 134, 236, 0.4) 5px 5px, rgba(19, 143, 226, 0.3) 10px 10px,
    rgba(46, 162, 240, 0.2) 15px 15px, rgba(20, 132, 223, 0.1) 20px 20px,
    rgba(13, 119, 218, 0.05) 25px 25px;
}

body.dark {
  background-color: #292c35;
  color: #fff;
}

body.dark .nav-area .right-nav a {
  color: #63b5ff;
}

body.dark .nav-area .right-nav a:hover {
  background-color: #63b5ff;
  color: rgb(255, 255, 255);
}

body.dark .container .section .box {
  color: #fff;
}
body.dark .container .inner-heading {
  color: #fff;
}

body.dark #btn a {
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  color: #fcfcfc;
  font-size: 1.6rem;
  padding: 0.6rem 1.7rem;
  border: solid 0.1rem #63b5ff;
}

body.dark #btn a:hover {
  background-color: #63b5ff;
  color: #000000;
}

