/* #63B5FF */
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: auto;
  background: #ffffff;
  height: auto;
}

/* added scrollbar design */

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color: #f0f0f042;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: #63b5ff;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
}

/* added padding for h3 */

h3 {
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 4.8rem 0 4.8rem 0;
}

p {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.nav-area {
  overflow: hidden;
  padding: 1rem;
}

.nav-area .left-nav a {
  float: left;
  color: #63b5ff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 0rem 5rem;
  font-size: 2.5rem;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 500;
}
@keyframes example {
    0%   { background-image: url("https://i.gifer.com/Ozs.gif"); left:0px; top:0px;}
    25%     {
       
        background-image: url("https://i.gifer.com/Ozs.gif"); left:200px; top:0px;}
 50%  {background-image: url("https://cdn.dribbble.com/users/1618925/screenshots/4048644/globe.gif"); left:400px; top:200px;}
    75%  {background-image: url("https://images.squarespace-cdn.com/content/v1/572f8a5622482e952ab4082a/1485326421028-07VP82EDRDIIK1EJR6A0/donut-planet.gif?format=1500w"); left:0px; top:200px;}
    100% {
           transform: rotate(360deg);
         
        background-image: url("https://i.pinimg.com/originals/52/7b/a5/527ba5513a72f1d28fa780a14d6511fd.gif"); left:0px; top:500px;}

  }
.nav-area .left-nav a:hover {
    float: left;
    color: #63b5ff;
    animation-name: example;
  animation-duration: 5s;
  animation-direction: reverse; 
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0rem 5rem;
    font-size: 2.5rem;
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 900;
  }

.nav-area .right-nav {
  margin-right: 4rem;
}

.nav-area .right-nav a {
  float: right;
  color: #161616;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1.4rem 1.4rem;
  font: 1.5rem;
  font-weight: 400;
}


.nav-area .right-nav a:hover {
  color: #000;
  background-color: rgba(99, 181, 255, 1);
  transition: 0.5s;
  border-radius: 10px;
}

#landing {
  display: flex;
  background-image: url("img/landing-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: 3rem;
}

#landing-text {
  margin-top: 6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#landing-text h2 {
  text-transform: lowercase;
}

#landing #landing-text #btn {
  margin-top: 2rem;
}

#btn a {
  text-decoration: none;
  background-color: white;
  color: #63b5ff;
  font-size: 1.6rem;
  padding: 0.6rem 1.7rem;
  border: solid 0.1rem #63b5ff;
}

#btn a:hover {
  background-color: #63b5ff;
  color: #ffffff;
}

#landing-img {
  background-position: center;
  background-size: 100vh;
  background-repeat: no-repeat;
  margin-top: 4rem;
}

.heading {
  text-align: center;
}

.heading h2 {
  border-bottom: solid 0.2rem #63b5ff;
  display: inline-block;
}

.inner-heading {
  padding: 0.4rem;
  text-align: center;
  font-weight: 400;
  color: #373737;
}

/* added padding for icon heading*/

.icons-heading {
  padding: 0 0 2rem 0;
}

.container {
  padding: 1rem 9%;
  margin-top: 2rem;
}

.container .section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 1rem 9%;
}

.container .section .box {
  background-color: white;
  height: 20rem;
  display: flex;
  flex-direction: column;
  transition: transform .2s;
  box-shadow: 3.4px 3.4px 2.2px -7px rgba(0, 0, 0, 0.022),
    8.7px 8.7px 5.5px -7px rgba(0, 0, 0, 0.031),
    17.7px 17.7px 11.2px -7px rgba(0, 0, 0, 0.039),
    36.5px 36.5px 23px -7px rgba(0, 0, 0, 0.048),
    100px 100px 63px -7px rgba(0, 0, 0, 0.07);
}

.container .section .box:hover {
  opacity: 0.8;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.container .section .box img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
  margin-top: -1.3rem;
}

.container .section .box a {
  text-decoration: none;
  color: black;
}

.form-content {
  padding: 1.5rem;
  margin: 1rem 9%;
  background: #c8dff3;
}

/* added margin for contact heading*/

.contact-heading {
  margin-top: 4.8rem;
}

input,
textarea,
input::-webkit-input-placeholder {
  font-size: 1rem;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 1rem;
  margin-top: 0.6rem;
  border: 1px solid rgb(240, 240, 240);
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-us .form-content p {
  text-align: left;
}

input[type="submit"] {
  text-decoration: none;
  padding: 0.8rem 2.5rem;
  margin: 1rem 42%;
  display: inline-block;
  color: #ffffff;
  border: solid 0.13rem #63b5ff;
  background-color: #63b5ff;
  box-shadow: 3.4px 3.4px 2.7px rgba(0, 0, 0, 0.025),
    8.7px 8.7px 6.9px rgba(0, 0, 0, 0.035),
    17.7px 17.7px 14.2px rgba(0, 0, 0, 0.045),
    36.5px 36.5px 29.2px rgba(0, 0, 0, 0.055),
    100px 100px 80px rgba(0, 0, 0, 0.08);
}

input[type="submit"]:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
  border: solid 0.11rem #63b5ff;
  color: #000000;
}

@media (max-width: 1000px) {
  #btn a {
    font-size: 1.5rem;
    padding: 0.45rem 1.2rem;
  }
}

@media (max-width: 768px) {
  #btn a {
    font-size: 1.4rem;
    padding: 0.35rem 1rem;
  }
}

@media (max-width: 650px) {
  .nav-area {
    display: flex;
    flex-direction: column;
  }
  .nav-area > .right-nav {
    padding: 0px;
    margin: 0px;
  }
}
@media (max-width: 600px) {
  #landing {
    display: flex;
    flex-direction: column;
  }

  #btn a {
    font-size: 1.3rem;
    padding: 0.3rem 0.85rem;
  }

  .container .section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    margin: 0.6rem 9%;
  }

  input[type="submit"]:hover {
    background-color: rgb(255, 255, 255);
    color: #63b5ff;
    transition: 0.4s;
    border: solid 0.11rem #63b5ff;
  }

  body {
    font-size: 100%;
  }

  .nav-area .left-nav a {
    margin-left: 1.5rem;
  }

  .nav-area .right-nav a {
    padding: 1.4rem 1rem;
    margin-right: -0.8rem;
  }

  .nav-area .right-nav a:hover {
    background-color: #ffffff;
  }

  #landing {
    display: flex;
    flex-direction: column;
  }

  #landing-text h1 {
    font-size: 1.8rem;
  }

  #landing-text h2 {
    font-size: 1.4rem;
  }

  input[type="submit"] {
    margin: 1rem 20%;
  }
}

@media (min-width: 992px) {
  .hero-img {
    margin-top: 10em;
  }
}

.landing-div {
  height: 100vh;
}

label {
  float: left;
}
