/* #63B5FF */
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  transition: .1s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: auto;
  background: #ffffff;
  height: auto;
}


h1 {
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
}

/* added padding for h3 */

h3 {
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 4.8rem 0 4.8rem 0;
}

p {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}


.nav-area .left-nav a {
  float: left;
  color: #63b5ff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 0rem 5rem;
  font-size: 2.5rem;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 500;
}
.nav-area .right-nav {
  margin-right: 3rem;
  right: 0;
  position: fixed;

}

.right-nav div,
.right-nav a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 10px;
}
.nav-area .right-nav div a:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(99, 181, 255, 1);
  transition: 0.5s;
  border-radius: 10px;
}



#dropdownMenuButton1 {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  border-radius: 10px;
  padding: 5px 15px;
  background-color: transparent !important;
  font-family: inherit;
}
#dropdownMenuButton1:focus,#dropdownMenuButton1:active ,
#dropdownMenuButton1:hover {
box-shadow: none;
}

.dropdown-menu {
  border-radius: 10px;
  position: absolute;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 0;
  outline: 0;
  display: block;
  text-align: left;
}
.dropdown-menu a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover {
  background-color: rgba(99, 181, 255, 1);
  transition: 0.5s;
}

#landing {
  display: flex;
  background-image: url("img/landing-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#landing-text {
  margin-top: 14rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#landing-text h2 {
  text-transform: lowercase;
}

#landing #landing-text #btn {
  margin-top: 2rem;
}

#btn a {
  text-decoration: none;
  background-color: white;
  color: #63b5ff;
  font-size: 1.6rem;
  padding: 0.6rem 1.7rem;
  border: solid 0.15rem #63b5ff;
}

#btn a:hover {
  background-color: #63b5ff;
  color: #ffffff;
}

#landing-img {
  background-position: center;
  background-size: 100vh;
  background-repeat: no-repeat;
  margin-top: 3rem;
}

.heading {
  text-align: center;
}

.heading h2 {
  border-bottom: solid 0.2rem #63b5ff;
  display: inline-block;
}

.inner-heading {
  padding: 0.4rem;
  text-align: center;
  font-weight: 400;
  color: #373737;
}

/* added padding for icon heading*/

.icons-heading {
  padding: 0 0 2rem 0;
}

.container {
  padding: 1rem 9%;
  margin-top: 2rem;
}

/* section */
.section {
  margin: 1rem 9%;
}

.section a {
  text-decoration: none;
  color: black;
}

/* designing card */
.section .card-style {
  background-color: white;
  color: #000;
  transition: transform 0.2s;
  box-shadow: 3.4px 3.4px 2.2px -7px rgba(0, 0, 0, 0.022),
    8.7px 8.7px 5.5px -7px rgba(0, 0, 0, 0.031),
    17.7px 17.7px 11.2px -7px rgba(0, 0, 0, 0.039),
    36.5px 36.5px 23px -7px rgba(0, 0, 0, 0.048),
    100px 100px 63px -7px rgba(0, 0, 0, 0.07);
  border: none;
  border-radius: 0;
  height: 360px;
  padding: 10px;
}

/* image inside card */
.card-style img {
  border-radius: 0;
}

/* card description */
.section .card .card-text {
  color: black;
}

.section .card-style:hover {
  opacity: 0.8;
  text-decoration: none;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

body {
  background: -webkit-linear-gradient(left, #fcfdfe, #f2f3f3);
}

.contact-form {
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
}

.contact-form .form-control {
  border-radius: 1rem;
}
.contact-image {
  text-align: center;
}
.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.contact-form form {
  padding: 8%;
}
.contact-form form .row {
  margin-bottom: -7%;
}
.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #439ff0;
}
.contact-form .btnContact {
  width: 50%;
  border: 2px solid #439ff0;
  padding: 2%;
  background: #ffffff;
  font-weight: 600;
  color: #439ff0;
  cursor: pointer;
}

@media (max-width: 1000px) {
  #btn a {
    font-size: 1.5rem;
    padding: 0.45rem 1.2rem;
  }
}

@media (max-width: 767px) {
  #btn a {
    font-size: 1.4rem;
    padding: 0.35rem 1rem;
  }
  .section .card-style {
    height: auto;
  }
}

@media (max-width: 650px) {
  .nav-area {
    display: flex;
    flex-direction: column;
  }
  .nav-area > .right-nav {
    padding: px;
    margin: 0px;
  }
}
@media (max-width: 600px) {
  #landing {
    display: flex;
    flex-direction: column;
  }

  #btn a {
    font-size: 1.3rem;
    padding: 0.3rem 0.85rem;
  }

  .container .section {
    margin: 0.6rem 9%;
  }

  input[type="submit"]:hover {
    background-color: rgb(255, 255, 255);
    color: #63b5ff;
    transition: 0.4s;
    border: solid 0.11rem #63b5ff;
  }

  body {
    font-size: 100%;
  }

  .nav-area .left-nav a {
    margin-left: 1.5rem;
  }

  .nav-area .right-nav a {
    padding: 1.4rem 1rem;
    margin-right: -0.8rem;
  }

  .nav-area .right-nav a:hover {
    background-color: #ffffff;
  }

  #landing-text h1 {
    font-size: 1.8rem;
  }

  #landing-text h2 {
    font-size: 1.4rem;
  }

  input[type="submit"] {
    margin: 1rem 20%;
  }
}

@media (min-width: 992px) {
  .hero-img {
    margin-top: 10em;
  }
}

.landing-div {
  height: 100vh;
}

label {
  float: left;
}
.fa {
  padding: 15px;
  font-size: 60px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 0px 2px;
  border-radius: 5px;
}

.fa:hover {
  opacity: 0.7;
}
.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

/* New Dark Mode toggle */

input[type="checkbox"] {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.check {
  position: relative;
  top: .5rem;
  margin-left: 1rem;
  display: block;
  width: 40px;
  height: 20px;
  background-color: #092c3e;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
}

input[type="checkbox"]:checked ~ .check {
  background-color: #fff;
  /* box-shadow: 0 0 0 1200px #292c35; */
}

.check::before {
  content: "";
  position: absolute;
  top: .125rem;
  left: .125rem;
  background: #fff;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: .5s;
}

input[type="checkbox"]:checked ~ .check::before{
  transform: translate(-50px);
}

.check::after{
  content: "";
  position: absolute;
  top: .125rem;
  right: .125rem;
  background: #092c3e;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: .5s;
  transform: translate(50px);
}

input[type="checkbox"]:checked ~ .check::after{
  transform: translate(0px);
}

@keyframes example {
  100% {
    transform: rotate(360deg);
  }
}

body.dark {
  background: #292c35;
  color: #fff;
}

body.dark .nav-area .right-nav a {
  color: #63b5ff;
}

body.dark .nav-area .right-nav a:hover {
  background-color: #63b5ff;
  color: rgb(255, 255, 255);
}

body.dark .container .section .box {
  color: #fff;
}
body.dark .container .inner-heading {
  color: #fff;
}

body.dark .dropdown:hover {
  background-color: rgba(99, 181, 255, 1) !important;
  color: #000;
}
body.dark .dropdown #dropdownMenuButton1 {
  background-color: #292c35;
  color:  #63b5ff;
}
body.dark .dropdown:hover #dropdownMenuButton1 {
color:#fff;
}
body.dark .dropdown-menu {
  background-color: #292c35;
  color: #fff;
}

/* For Scroll Button*/
#toTopBtn {
  position: fixed;
  bottom: 16px;
  right: 29px;
  z-index: 98;
  padding: 21px;
  background-color: #2666cf;
  border-radius: 55%;
}

.js .cd-top--fade-out {
  opacity: 0.5;
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s, background-color 0.3s;
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg)
    no-repeat center 50%;
  background-color: hsla(5, 76%, 62%, 0.8);
  background-color: hsla(
    var(--cd-color-3-h),
    var(--cd-color-3-s),
    var(--cd-color-3-l),
    0.8
  );
}
body.dark #btn a {
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  color: #fcfcfc;
  font-size: 1.6rem;
  padding: 0.6rem 1.7rem;
  border: solid 0.1rem #63b5ff;
}

body.dark #btn a:hover {
  background-color: #63b5ff;
  color: #000000;
}

div#contact-us.dark {
  background-color: #d4d4d4;
}

h3.icons-heading.dark,
div.inner-heading.dark {
  color: white;
}

.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 32px;
  right: 5px;
  pointer-events: none;
  z-index: 2;
}
.icon-success {
  fill: green;
}

.icon-error {
  fill: red;
}

.hidden {
  display: none;
}

.form-group {
  margin-bottom: 2rem;
  position: relative;
}
.error-message {
  font-size: .85rem;
  color: red;
}

#bootstrap-override{
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  border-radius: 0px;
  background: linear-gradient(80deg, #fdfafae1, #cacaca);
  box-shadow: #8d8d8d,
              #ffffff;
}

body.dark #bootstrap-override{
  box-shadow: #000000, #373737 ;
  background: linear-gradient(80deg, #55595ec0, #000000);
}

#resource{
  margin-top: 80px;
}

#iconspage{
  margin-top: 80px;
}
